$textsizeBase: 1.75rem;
$textsizeBig: 2rem;

@mixin ICard($baseTextSize, $biggerTextSize, $small: false) {
	display: grid;
	border-width: 2px;
	border-radius: 25px;
	border-color: #14A2E4;
	border-style: solid;
	grid-template-areas: 'info image';
	grid-template-columns: 1fr 2fr;

	.card-info {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		font-family: 'Source Sans Pro', sans-serif;
		grid-area: info;
		font-weight: bold;
		text-align: right;
		height: 100%;
		padding-left: 1ch;

		.title {
			font-size: $biggerTextSize;
		}

		.date {
			font-size: $baseTextSize;
		}

		.place {
			font-size: $biggerTextSize;
		}

	}

	.card-img {
		max-width: 100%;
		grid-area: image;
		border-radius: 25px
	}
}

.card {
	@include ICard($textsizeBase, $textsizeBig);
}

.card-small {
	@include ICard(calc(#{$textsizeBase} / 1.75), calc(#{$textsizeBig} / 1.75));
}