html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;

    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.SectionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Section-accent {
    background-color: #14A2E4;
    color: #fff;
}

.Section-white {
    color: #222;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 -4px 4px rgba(0, 0, 0, 0.25);
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    font-family: 'Josefin Sans', 'Source Sans Pro', sans-serif;
    margin: 4vw 0;
}

.Header-logo {
    width: 50vw;
    height: 50vw;
    margin-right: 4vw;
    margin-top: 72px;
}

.Header-title {
    font-size: 10vw;
    text-transform: uppercase;
    margin: 72px 0;
}

.EventInfo {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 64px 4vw;
}

.EventInfo-row {
    display: flex;
    flex-direction: column;
    margin: 42px 0;
}

.EventInfo-description {
    font-size: 24px;
}

.EventInfo-buttons {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EventInfo-buttons > :not(:first-child) {
    margin-top: 24px;
}

.EventInfo-buttons-button {
    position: relative;
    height: 52px;
    line-height: 52px;
    border-radius: 4px;
    border: 4px solid #333;
    text-align: center;
    cursor: pointer;
    padding: 0 16px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
}

.EventInfo-buttons-button--light {
    border-width: 2px;
    font-weight: normal;
}

.addeventatc_dropdown {
    position: absolute;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    background-color: #fff;
    padding: 0 16px;
}

.addeventatc_dropdown > * {
    display: block;
}

.EventInfo-details {
    font-size: 32px;

    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 64px 24px;
}

.EventInfo-details-location {
    font-weight: bold;
}

.EventInfo-details-location a {
    color: #333;
}

.EventInfo-details-date {
}

.EventInfo-info {
    display: flex;
    flex-direction: column;

    font-size: 24px;
}

.EventInfo-info-title {
    display: inline-block;
    margin: 0 0 42px 0;
}

.EventInfo-info:not(:last-child) {
    margin: 0 0 42px 0;
}

.EventInfo-map {
    display: none;
    position: relative;
}

.EventInfo-map-map {
    width: 100%;
}

.EventInfo-map-pointer {
    position: absolute;
    bottom: 5%;
    left: 45%;
}

.Section-header {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 96px 0;
    text-align: center;
}

.Speakers {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.Speaker {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    color: #222;

    margin: 0 24px 96px 24px;
}

.Speaker-bio {
    display: flex;
    flex-direction: column;
    padding: 72px 24px;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.Speaker-bio-name {
    margin-top: 32px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.Speaker-bio-company {
    margin-top: 4px;
    font-size: 24px;
    text-transform: uppercase;
}

.Speaker-divider {
    flex-shrink: 0;
    height: 6px;
    background-color: #eaeaea;
}

.Speaker-talk {
    display: flex;
    flex-direction: column;
    padding: 72px 24px;

    justify-content: center;
    align-items: start;
}

.Speaker-talk-title {
    font-size: 32px;
    text-transform: uppercase;

    margin-bottom: 16px;
}

.Speaker-talk-description {
    font-size: 18px;
}

.Partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 128px 24px;
}

.Partners-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.Partners-row > img {
    margin: 32px 0;
}

.Partner {
}

.Partner-big {
    max-width: 500px;
    width: 100%;
    height: auto;
}

.Partner-medium {
    max-width: 300px;
    max-height: 100px;
}

/*
    Media Query
 */

@media (min-width: 700px) {
    .Header {
        min-height: auto;
        flex-direction: row;
    }

    .Header-logo {
        width: 20vw;
        height: 20vw;
        margin-right: 4vw;
        margin-top: 0;
    }

    .Header-title {
        font-size: 5vw;
        text-transform: uppercase;
    }

    .EventInfo-description {
        flex: 1;
        font-size: 24px;
    }

    .EventInfo-details {
        text-align: right;
        margin: 0;
    }

    .EventInfo-row {
        flex-direction: row;
    }

    .EventInfo-map {
        display: block;
    }

    .EventInfo-buttons {
        justify-content: start;
        flex-direction: row;
    }

    .EventInfo-buttons > :not(:first-child) {
        margin-top: 0;
        margin-left: 48px;
    }

    .Speaker {
        flex-direction: row;
    }

    .Speaker-bio {
        padding: 72px 64px;
    }

    .Speaker-divider {
        height: auto;
        width: 6px;
    }

    .Speaker-talk {
        padding: 72px 64px;
    }

    .Partners-row {
        flex-direction: row;
    }

    .Partners-row > img {
        margin: 0 32px;
    }

}