@import "components/common";
@import "components/card";

.Upcoming-events {
	background-color: #27408B;
	border-radius: 4px;
	width: 100%;
	min-height: 300px;
	padding: 0 42px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.About-next-event {
	color: #fff;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

.Next-event-container {
	display: flex;
	flex-direction: column;
}

.Next-event-title {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	margin-top: 20px;
	text-decoration: none;
}

.Next-event-container:hover .Next-event-title,
.Next-event-title:active,
.Next-event-title:focus {
	text-decoration: underline;
}

.Next-event-description {
	margin: 16px 0 0 0;
	font-size: 18px;
	opacity: 0.7;
}

.Next-event-details {
	margin: 20px 0 20px 0;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Details-element {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Details-element:not(:last-child) {
	margin: 0 16px 0 0;
}

.Details-element > img {
	margin: 0 8px 0 0;
}

.EmptySpace--expand {
	display: flex;
	flex-grow: 1;
}

.Web-akce-button {
	cursor: pointer;
	align-self: flex-start;
}

.Web-akce-button img {
	width: 60px;
	height: auto;
}

.Tags-container {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Tags-container > :not(:first-child) {
	margin: 12px 0 0 0;
}

.Tags-element {
	font-weight: 700;
	font-size: 24px;
	text-align: right;
}

.Previous-events-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 1000px;
}

.Prev-events-title {
	font-size: 32px;
	margin: 50px 0;
}

.Prev-events-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

false {
	margin: 50px 0 0 0;
}

.Prev-event-element {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 300px;
	max-width: 475px;
	align-self: stretch;
	border-radius: 4px;
	background: #222;
	background-size: cover !important;
}

.Prev-event-details {
	color: white;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-end;
	margin: 0 42px 32px 42px;
}

.Prev-event-tag {
	background: #4584B6;
	display: block;
	align-self: flex-end;
	flex-grow: 0;
	padding: 6px 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	margin: 28px 0;
	border-radius: 4px 0 0 4px;
}

.Prev-event-title {
	font-size: 36px;
	margin: 0 0 12px 0;
	text-decoration: none;
	color: white;
}

.Prev-event-details:hover .Prev-event-title,
.Prev-event-title:active,
.Prev-event-title:focus {
	text-decoration: underline;
}

.Prev-event-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Prev-event-info-date {
	font-size: 20px;
	font-weight: 300;
	flex-grow: 1;
}

.Prev-event-info-place {
	font-size: 18px;
	font-weight: 300;
	flex-grow: 2;
}

.Prev-event-info-link {
	display: block;
	width: 24px;
	height: 24px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.Prev-event-info-link > img {
	width: 100%;
}



.Page-Events {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 1000px) {
	.Upcoming-events {
		flex-direction: column;
	}
	.Next-event-container {
		align-items: center;
		padding: 24px 0;
	}
	.Next-event-details {
		flex-direction: column;
		justify-content: center;
	}
	.Next-event-details > *:not(:last-child) {
		margin: 0 0 16px 0;
	}
	.Web-akce-button {
		align-self: center;
	}
	.Tags-container {
		flex-direction: row;
		margin: 0 0 24px 0;
	}
	.Tags-container > :not(:first-child) {
		margin: 0 0 0 16px;
	}
	.Prev-events-container {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.Prev-events-container > :not(:last-child) {
		margin: 0 0 50px 0;
	}
	.Prev-events-container > :last-child {
		margin: 0;
	}
}
