html, body {
    margin: 0;
    padding: 0;
    color: #fff;

    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    font-family: 'Source Sans Pro', sans-serif;
}

.yellow {
    color: #FFEB3B;
}

/*---------------------*/

.Screen {
    display: flex;
    flex-direction: column;

    position: relative;

    padding: 218px 156px 156px 156px;
}

.Screen-accent {
    display: flex;
    flex-direction: row;
}

.Screen-time {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 200;
}

.Screen-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 29px 0;
}

.Screen-eventDescription {
    font-size: 24px;
    max-width: 700px;
    border-bottom: 5px solid #FFEB3B;
    padding: 0 0 36px 0;
}

.Screen-speakerName {
    font-size: 24px;
    font-weight: 600;

    margin: 36px 0 0 0;
}

/*---------------------*/

.First-screen {
    height: 100vh;
    background-color: #27408B;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 0 0 156px 156px;
    box-sizing: border-box;

    position: relative;

    overflow: hidden;
}

.Line {
    position: absolute;
    width: 1500px;
    border: 8px solid #FFEB3B;
    transform: rotate(45deg);
    transform-origin: 0 0;
}

.Line-1 {
    top: -5%;
    left: 60%;
}

.Line-2 {
    top: -5%;
    left: 80%;
}

.Key-image {
    width: 250px;
    margin: 0 0 20px 0;
}

.First-title {
    font-weight: 900;
    font-size: 96px;
    text-transform: uppercase;
    color: #fff;

    max-width: 900px;
}

.Details-of-whole-event {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
}

/*---------------------*/

.Screen-time--light {
    color: #555;
}

.Screen-title--light {
    color: #222;
}

.Screen-eventDescription--light {
    color: #555;
}

.Screen-speakerName--light {
    color: #222;
}

.Camera-img {
    position: absolute;
    right: 0;
    top: 50px;
}

.Camera-img img {
    width: 300px;
}

/*---------------------*/

.Screen--dark {
    background-color: #27408B;
}

.Screen-time--dark {
    color: #eee;
}

.Screen-title--dark {
    color: #fff;
}

.Screen-eventDescription--dark {
    color: #fff;
}

.Screen-speakerName--dark {
    color: #fff;
}

/*---------------------*/

.Social-media-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 218px 0;
    background-color: #27408B;
}

.Social-media-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 600;
    font-size: 36px;
}

.Social-iconButton {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: 0 64px;

    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.Social-iconButton-image img {
    width: 96px;
    height: 96px;
}

.Social-iconButton-text {
    text-align: center;
}

.Social-verticalDivider {
    background: #FFEB3B;
    width: 5px;
    height: 100%;
}

.CalendarButton {
    margin-top: 64px;
}


.Footer {
    display: flex;
    flex-direction: row;
    align-items: end;

    padding: 30px;
}

.Organizations-Container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Organizations-Container:not(:last-child) {
    margin: 0 64px 0 0;
}

.Organization {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.Organization:not(:last-child) {
    margin: 0 48px 0 0;
}

.Organization-Category {
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.Organization-Logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 56px;
}

.Organization-Logo img {
    height: 56px;
}

.Organization-Logo--small img {
    height: 24px;
}

/*.Last-screen-text {
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 16px;
}*/

@media (max-width: 900px) {

    .Screen {
        display: flex;
        flex-direction: column;

        position: relative;

        padding: 168px 42px 96px 42px;
    }


    .Key-image {
        width: 120px;
    }

    .First-title {
        font-size: 38px;
    }

    .Details-of-whole-event {
        font-size: 28px;
    }

    .Camera-img img {
        width: 150px;
    }

    .Screen-time {
        font-size: 72px;
    }

    .Screen-title {
        font-size: 32px;
    }

    .Screen-eventDescription {
        font-size: 22px;
    }

    .Screen-speakerName {
        font-size: 22px;
    }

    .Social-media-container {
        flex-direction: column;
    }

    .Social-iconButton {
        margin: 32px 0;
    }

    .Social-iconButton-image img {
        width: 64px;
        height: 64px;
    }

    .Social-media-container {
        font-size: 24px;
    }

    .Footer {
        flex-direction: column;
    }

    .Organizations-Container {
        flex-direction: column;

        align-items: flex-start;
    }

    .Organizations-Container:not(:last-child) {
        margin: 0 0 48px 0;
    }

    .Organization {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .Organization:not(:last-child) {
        margin: 0 0 24px 0;
    }

}