
.Section-hub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Cover-hub {
    background: url("img/hub_cover.jpg");
    height: 460px;
    border-radius: 4px;
    align-self: stretch;
}

.Cover-hub-text {
    color: #fff;
    margin: 180px 0 40px 40px;
    font-size: 36px;
}

.Section-text {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;

    margin: 90px 0 0 0;

    font-size: 24px;
    font-weight: 400;
    color: #222;

    max-width: 600px;
}

.Advantages {
    display: flex;
    flex-direction: row;
    margin: 120px 0;
}

.Advantages-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    flex: 1;

    max-width: 1000px;
    width: 100%;

    flex-wrap: wrap;
}

.Advantages-element {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 260px;
}

.Advantages-element:not(:last-child) {
    margin: 0 24px 0 0;
}

.Advantage-text {
    color: #333;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    margin: 38px 0 0 0;
}

.Advantage-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Section-Map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 0 132px 0;
}

#Section-Map-Frame {
    width: 800px;
    height: 400px;
    border-radius: 4px;
    overflow: hidden;
}

.Section-hr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Hr {
    margin: 100px 0 0 0;
    width: 1000px;
    opacity: 0.6;
}

.Section-Tarifs {
    display: flex;
    flex-direction: column;
}

.Tarifs {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;
}

.Tarifs-element {
    min-width: 300px;

    border: 1px #EAEAEA solid;
    border-radius: 4px;
    box-shadow: 0 2px #EAEAEA;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tarifs-element:not(:last-child) {
    margin: 0 24px 0 0;
}

.Tarifs-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;

    margin: 36px 0 0 0;
}

.Tarifs-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    color: #222;

    margin: 24px 0;
}

ul.Benefits {
    list-style-type: none;
}

.Tarifs-Benefits-list {
    font-weight: 400;
    font-size: 24px;

    display: flex;
    flex-direction: column;

    list-style-type: none;
    padding: 0;
    margin: 0 36px;

    max-width: 320px;

    color: #555;

    text-align: center;
}

.Tarifs-Benefits-list > li {
    font-weight: 400;
}

.Tarifs-Benefits-list > li:not(:last-of-type) {
    margin: 0 0 12px 0;
}

.Tarifs-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 36px;

    color: #14A2E4;
    margin: 36px 0;
}

.Action-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Tarifs-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;

    text-transform: uppercase;
    color: #14A2E4;
    font-size: 24px;
    line-height: 30px;
    margin: 120px 0;
    width: 300px;

    border: 1px solid #14A2E4;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

@media (max-width: 700px) {

    .Cover-hub {
        height: 300px;
    }

    .Section-Map {
        width: 100%;
    }

    #Section-Map-Frame {
        width: 100%;
    }

    .Tarifs {
        flex-direction: column;
    }

    .Section-text {
        margin: 90px 42px 0 42px;
    }

    .Advantages {
        flex-direction: column;
        align-items: center;
    }

    .Advantages-container {
        flex-direction: column;
        align-items: center;
    }

    .Tarifs-element:not(:last-child) {
        margin: 0 0 42px 0;
    }

    .Advantages-element:not(:last-child) {
        margin: 0 0 42px 0;
    }

}